<h1>Заведение</h1>

<div>
  <%#= @place.image %>
</div><br>

<div>
  <%= @place.name %>
</div><br>

<div>
  <%= @place.category %>
</div><br>

<div>
  <%= @place.description %>
</div><br>

<%= link_to 'Назад', places_path, class: "btn btn-outline-info" %>
